absl-py==0.11.0
astor==0.8.1
astroid==2.3.3
attrdict==2.0.1
backcall==0.1.0
beautifulsoup4==4.6.0
blessings==1.7
blis==0.4.1
boto3==1.13.11
botocore==1.16.11
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
configparser==5.0.1
cymem==2.0.3
decorator==4.4.2
docker-pycreds==0.4.0
docutils==0.15.2
en-core-web-lg==2.2.5
en-core-web-md==2.2.5
en-core-web-sm==2.2.5
fastprogress==0.2.3
filelock==3.0.12
fuzzywuzzy==0.18.0
gast==0.4.0
gensim==3.8.3
gitdb==4.0.5
gitpython==3.1.11
google-pasta==0.2.0
gpustat==0.6.0
grpcio==1.31.0
h5py==2.10.0
idna==2.9
importlib-metadata==2.0.0
ipython-genutils==0.2.0
ipython==7.13.0
isort==4.3.21
jedi==0.16.0
jericho==2.4.0
jmespath==0.10.0
joblib==0.15.1
jpype1==0.7.5
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras==2.4.2
konlpy==0.5.2
lazy-object-proxy==1.4.3
lxml==4.5.1
markdown==3.3.3
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
murmurhash==1.0.2
networkx==2.4
nltk==3.5
nsml==0.0
numpy==1.19.2
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
parso==0.6.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.0.1
pip==20.0.2
plac==1.1.3
preshed==3.0.2
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.14.0
psutil==5.7.0
ptyprocess==0.6.0
pycparser==2.20
pygments==2.5.2
pylint==2.4.4
pysocks==1.7.1
python-dateutil==2.8.1
pyyaml==5.3.1
redis==3.4.1
regex==2020.5.14
requests-oauthlib==1.3.0
requests==2.23.0
rope==0.16.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.1
scipy==1.5.2
sentencepiece==0.1.85
sentry-sdk==0.19.3
seqeval==0.0.12
setgpu==0.0.7
setuptools==45.2.0.post20200210
shortuuid==1.0.1
six==1.14.0
sklearn==0.0
smart-open==3.0.0
smmap==3.0.4
spacy==2.2.4
srsly==1.0.2
subprocess32==3.5.4
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow==1.14.0
termcolor==1.1.0
thinc==7.4.0
threadpoolctl==2.1.0
tokenizers==0.7.0
torch==1.4.0
torchaudio==0.4.0a0+719bcc7
torchvision==0.5.0
tqdm==4.43.0
traitlets==4.3.3
transformers==2.9.1
tweepy==3.8.0
typing-extensions==3.7.4.3
urllib3==1.25.8
wandb==0.10.10
wasabi==0.6.0
watchdog==0.10.3
wcwidth==0.1.8
werkzeug==1.0.1
wheel==0.34.2
wrapt==1.11.2
zipp==3.4.0